.card-product {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    padding: 20px 20px 30px;
    box-shadow: 0px 4px 5px rgba(162, 162, 162, 0.15);
    margin-bottom: 25px;
    max-width:350px;
    width: auto;
    min-width: 200px;
    cursor: pointer;
    .name-prod {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .card-product {
        max-width: 100%;
    }
   
   }